/*
dncnmckn.css

This is the CSS file for duncanmckean.com with tweaks upon materialize CSS.
*/

p {
    font-size: 1.2em;
    font-weight: 300;
}

p.dmk-footer-text {
    font-size: 1em;
}

p.dmk-contact-info {
    font-size: 1em;
    font-weight: 400;
}

.dmk-padding {
 padding: 2em 0 0 2em;   
}

/* sticky footer */

  body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
  }

  main {
    flex: 1 0 auto;
  }