body {
    font-size: 1.6em;
}

#header {
    background-color: #fafafa;
}
.header-h1-colour {
    color: #693;
}

.break {
    padding-top: 10px;}

.big-break {
    padding: 50px 0; }

a, a:hover {color: #693;}
a:active {color: #f90;}